
@import url(iconfont.css);
abbr, address, article, aside, audio, b, blockquote, body, body div, caption, cite, code, dd, del, details, dfn, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0
}

article, aside, details, figure, footer, header, nav, section, summary {
    display: block
}

html {
    box-sizing: border-box;
    height: 100%;
    width: 100%
}

*, :after, :before {
    box-sizing: inherit
}

embed, img, object {
    max-width: 100%
}

html {
    overflow-y: auto
}

ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

del {
    text-decoration: line-through
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th {
    font-weight: 700;
    vertical-align: bottom
}

td {
    font-weight: 400;
    vertical-align: top
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input, select {
    vertical-align: middle
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word
}

input[type=radio] {
    vertical-align: text-bottom
}

input[type=checkbox] {
    vertical-align: bottom
}

.ie7 input[type=checkbox] {
    vertical-align: baseline
}

.ie6 input {
    vertical-align: text-bottom
}

input, select, textarea {
    font: 99% sans-serif
}

table {
    font-size: inherit;
    font: 100%
}

small {
    font-size: 85%
}

strong {
    font-weight: 700
}

td, td img {
    vertical-align: top
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

code, kbd, pre, samp {
    font-family: monospace, sans-serif
}

.clickable, button, input[type=button], input[type=file], input[type=submit] {
    cursor: pointer
}

button, input, select, textarea {
    margin: 0
}

button, input[type=button] {
    width: auto;
    overflow: visible
}

.ie7 img {
    -ms-interpolation-mode: bicubic
}

.clearfix:after, .clearfix:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

body {
    font: 13px Verdana, sans-serif
}

body, input, select, textarea {
    color: #6d6c6c
}

a {
    color: #6d6c6c;
    text-decoration: none;
    outline: 0
}

a:focus, a:hover {
    text-decoration: none
}

::-moz-selection {
    background: #5b5b5b;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #5b5b5b;
    color: #fff;
    text-shadow: none
}

a:link {
    -webkit-tap-highlight-color: #fcd700
}

ins {
    background-color: #5b5b5b;
    color: #fff;
    text-decoration: none
}

mark {
    background-color: #5b5b5b;
    color: #fff;
    font-style: italic;
    font-weight: 700
}

input:-moz-placeholder {
    color: #a9a9a9
}

textarea:-moz-placeholder {
    color: #a9a9a9
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 65%
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h1, h1 {
    font-size: 36px
}

.h2, h2 {
    font-size: 30px
}

.h3, h3 {
    font-size: 24px
}

.h4, h4 {
    font-size: 18px
}

.h5, h5 {
    font-size: 14px
}

.h6, h6 {
    font-size: 12px
}

p {
    margin: 0 0 10px 0
}

body {
    font-family: at_Roboto-Light, sans-serif;
    height: 100%;
    width: 100%;
    background-color: #f0f1f5
}

@media screen and (min-width: 720px) {
    .sso {
        background: #e1e3e0 url(image/logo_bg.jpg) no-repeat bottom center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover
    }
}

.ie8 .sso {
    height: 100%;
    min-width: 640px;
    background: #f0f1f5;
    position: relative;
    overflow: hidden
}

.ie8 .sso.shortSSO {
    height: auto
}

.top-bar {
    position: relative;
    padding: 12px 0 18px 0;
    background: 0 0;
    text-align: center
}

.container-fluid {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto
}

.top-bar span {
    display: inline-block;
    font-size: 2em;
    color: #0066a1;
    font-weight: 400;
    padding: 6px 0 6px 12px;
    vertical-align: middle;
    margin-left: 12px;
    border-left: 2px solid #0066a1
}

.top-bar-brand {
    display: inline-block
}

.top-bar .top-bar-brand .atosIconFont-logo {
    font-size: 5em;
    line-height: .6;
    padding: 0;
    margin-left: 0;
    border-left: none
}

@media screen and (min-width: 720px) {
    .top-bar span {
        color: #fff;
        border-left: 2px solid #fff
    }

    .top-bar .top-bar-brand .atosIconFont-logo {
        font-size: 10em
    }
}

.ie8 .iconfont-logo:before {
    content: ""
}

.ie8 .top-bar-brand {
    background: url(../images/sso/iconfont-logo.png) no-repeat center center;
    display: block;
    width: 92px;
    height: 30px
}

.ie8 .top-bar .top-bar-brand .atosIconFont {
    width: 60px;
    height: 50px
}

.sso footer {
    position: relative;
    display: block;
    padding: 25px 20px 18px 20px;
    margin: 0 auto;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #000
}

.sso.stickyFooter footer {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0
}

.sso footer p {
    position: relative;
    display: block;
    margin: 0;
    width: 100%;
    padding: 6px 24px 0 24px
}

.sso footer nav {
    position: relative;
    display: block;
    text-align: center;
    width: 100%
}

.sso footer nav ul li {
    display: inline-block;
    width: auto;
    margin: 0 10px
}

.sso footer nav ul li a, .sso footer nav ul li a:hover {
    text-decoration: underline;
    color: #000
}

.sso footer nav ul li a:focus {
    color: #0066a1;
    background-color: #fff
}

@media screen and (min-width: 720px) {
    .sso footer {
        color: #fff
    }

    .sso footer nav ul li a, .sso footer nav ul li a:hover {
        color: #fff
    }

    .sso footer nav ul li a:focus {
        color: #0066a1;
        background-color: #fff
    }
}

.ie8 .sso footer {
    position: relative;
    height: 70px;
    z-index: 2
}

.ie8 .sso.shortSSO footer {
    height: auto;
    margin-top: 30px
}

.contentsso {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 2vh;
    width: 256px
}

@media screen and (min-width: 720px) {
    .contentsso.error {
        width: 570px
    }
}

.sso-box {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 16px 20px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 16px 20px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, .25);
    background-color: #fff;
    display: block;
    margin: 8px auto 8px auto;
    padding: 18px
}

.sso-box h3 {
    display: block;
    font-family: at_Roboto-Light, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #0066a1;
    width: 100%;
    margin: 0 auto
}

@media screen and (min-width: 720px) {
    .sso-box h3 {
        margin-top: 10px
    }
}

.sso-box legend {
    text-align: center;
    margin: 0 0 9px 0;
    padding-top: 12px;
    width: 100%;
    font-size: 15px
}

.sso-box legend > a:focus, .sso-box legend > a:hover, .sso-box legend > p > a:focus, .sso-box legend > p > a:hover {
    background-color: rgba(0, 0, 0, .1)
}

.sms_message {
    color: #000;
    text-align: center;
    font-size: 15px;
    margin-bottom: 12px;
    margin-top: -5px
}

.sms_message span {
    display: block;
    font-size: 15px;
    font-weight: 700
}

.error_message {
    font-size: 15px;
    color: #6d6c6c;
    margin: 19px 0
}

.error_message a {
    text-decoration: underline;
    font-weight: 700
}

.error_message a:focus, .error_message a:hover {
    background-color: rgba(0, 0, 0, .1)
}

.sso-box [class*=" wg-"], .sso-box [class^=wg-] {
    display: block;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box
}

.sso-box form {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box
}

.sso-box label {
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #929292;
    margin: 0
}

.sso-box input[type=password], .sso-box input[type=text] {
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 100;
    line-height: normal;
    text-align: left;
    width: 100%;
    min-height: 30px;
    padding: 7px;
    margin: 4px 0 12px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background-color: #f8f8f8;
    border: 1px solid #b0afaf;
    outline: 0
}

.sso-box input[type=password]:focus, .sso-box input[type=text]:focus {
    border: 1px solid #0066a1;
    color: #000;
    background-color: #fff
}

.sso-box input[type=submit].btn {
    display: block;
    font-family: at_Roboto-Light, sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.3;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    margin: 24px auto 0 auto;
    padding: 10px;
    width: 100%;
    min-height: 48px;
    background-color: #0066a1;
    border: 2px solid #0066a1;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}

.sso-box input[type=button].btn {
    display: block;
    font-family: at_Roboto-Light, sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.3;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    margin: 24px auto 0 auto;
    padding: 10px;
    width: 100%;
    min-height: 48px;
    background-color: #0066a1;
    border: 2px solid #0066a1;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}

.sso-box input[type=submit].btn:focus, .sso-box input[type=submit].btn:hover {
    cursor: pointer;
    color: #0066a1;
    border-color: #0066a1;
    background-color: #fff
}

.sso-box input[type=button].btn:hover, .sso-box input[type=submit].btn:focus {
    cursor: pointer;
    color: #0066a1;
    border-color: #0066a1;
    background-color: #fff
}

.error .sso-box input[type=submit].btn {
    width: 235px;
    max-width: 100%
}

.error .sso-box input[type=button].btn {
    width: 235px;
    max-width: 100%
}

@media screen and (min-width: 720px) {
    .btn {
        white-space: nowrap
    }
}

.icoInfo {
    background-color: #777;
    color: #fff;
    display: block;
    width: 18px;
    height: 18px;
    text-align: center;
    padding-top: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-size: 11px;
    border-radius: 50%;
    font-weight: 700;
    overflow: hidden;
    font-family: Verdana, Geneva, at_Roboto-Light
}

.tooltipInfo:focus .icoInfo, .tooltipInfo:hover .icoInfo {
    background-color: #5b5b5b
}

.tooltipInfo {
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 4px 0 0 10px;
    cursor: help;
    position: relative;
    line-height: 10px;
    vertical-align: middle;
    outline: 0
}

.tooltipInfo > div {
    position: absolute;
    bottom: 15px;
    display: none;
    background-color: transparent;
    padding: 0 0 19px 0;
    width: 190px;
    margin-left: -100px;
    z-index: 1;
    cursor: default
}

.tooltipInfo:focus > div, .tooltipInfo:hover > div, .tooltipInfo > div.isFocused {
    display: block
}

.tooltipInfo > div:after, .tooltipInfo > div:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    right: 75px;
    position: absolute;
    width: 0
}

.tooltipInfo > div:after {
    border-width: 6px;
    border-top-color: #4c4c4c;
    bottom: 8px
}

.tooltipInfo > div:before {
    border-width: 6px;
    bottom: 7px
}

.tooltipInfo > div > p {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    text-align: left;
    line-height: 1.2;
    font-weight: 100;
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #4c4c4c;
    margin: 0;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .25);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .25)
}

.tooltipInfo > div > p br {
    font-size: 13px
}

.tooltipInfo > div a {
    color: #fff;
    text-decoration: underline;
    font-weight: 700
}

.tooltipInfo > div a:focus, .tooltipInfo > div a:hover {
    background-color: #fff;
    color: #0066a1
}

.icoWarn {
    background-color: #ff8040;
    color: #fff;
    display: block;
    width: 18px;
    height: 18px;
    text-align: center;
    padding-top: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-size: 11px;
    border-radius: 50%;
    font-weight: 700;
    overflow: hidden;
    font-family: Verdana, Geneva, at_Roboto-Light
}

.tooltipWarn:focus .icoWarn, .tooltipWarn:hover .icoWarn {
    background-color: #ff8040
}

.tooltipWarn {
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 4px 0 0 10px;
    cursor: help;
    position: relative;
    line-height: 10px;
    vertical-align: middle;
    outline: 0
}

.tooltipWarn > div {
    position: absolute;
    bottom: 15px;
    display: none;
    background-color: transparent;
    padding: 0 0 19px 0;
    width: 190px;
    margin-left: -100px;
    z-index: 1;
    cursor: default
}

.tooltipWarn:focus > div, .tooltipWarn:hover > div, .tooltipWarn > div.isFocused {
    display: block
}

.tooltipWarn > div:after, .tooltipWarn > div:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    right: 75px;
    position: absolute;
    width: 0
}

.tooltipWarn > div:after {
    border-width: 6px;
    border-top-color: #ff8040;
    bottom: 8px
}

.tooltipWarn > div:before {
    border-width: 6px;
    bottom: 7px
}

.tooltipWarn > div > p {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    text-align: left;
    line-height: 1.2;
    font-weight: 100;
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #ff8040;
    margin: 0;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .25);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .25)
}

.tooltipWarn > div > p br {
    font-size: 13px
}

.tooltipWarn > div a {
    color: #fff;
    text-decoration: underline;
    font-weight: 700
}

.tooltipWarn > div a:focus, .tooltipWarn > div a:hover {
    background-color: #fff;
    color: #0066a1
}

.failList > p {
    font-size: 15px;
    color: red
}

.fidoPrompt > p {
    font-size: 15px
}

.sso .alternative {
    margin-top: 18px
}

.sso .alternative h2 {
    font-weight: 400;
    font-size: 16px;
    color: #0066a1;
    display: block;
    margin: 0 auto;
    text-align: center
}

.sso .alternative ul {
    text-align: center
}

.sso .alternative ul li {
    display: inline-block;
    text-align: center;
    margin: 12px 8px 0 8px;
    vertical-align: top
}

.sso .alternative button {
    display: block;
    color: #777;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-size: 16px;
    font-weight: 100;
    outline: 0
}

.sso .alternative ul li button:focus, .sso .alternative ul li button:hover {
    color: #3a3a3a
}

.sso .alternative span.atosIconFont {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 10px;
    display: block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    font-size: 24px;
    margin: 0 auto 8px auto;
    color: #fff;
    background-color: #777
}

.sso .alternative button:focus span.atosIconFont, .sso .alternative button:hover span.atosIconFont {
    background-color: #3a3a3a
}

@media screen and (min-width: 720px) {
    .sso .alternative h2 {
        color: #fff
    }

    .sso .alternative button {
        color: #fff
    }

    .sso .alternative ul li button:focus, .sso .alternative ul li button:hover {
        color: #fff
    }

    .sso .alternative span.atosIconFont {
        color: #999;
        background-color: #fff
    }

    .sso .alternative button:focus span.atosIconFont, .sso .alternative button:hover span.atosIconFont {
        background-color: #fff;
        color: #0066a1
    }
}

.ie8 .iconfont-login_password {
    content: "";
    background: transparent url(../images/sso/iconfont-login_password.png) no-repeat
}

.ie8 .iconfont-login_otp {
    content: "";
    background: transparent url(../images/sso/iconfont-login_otp.png) no-repeat
}

.ie8 .iconfont-login_pki {
    content: "";
    background: transparent url(../images/sso/iconfont-login_pki.png) no-repeat
}

.sso-box input[type=submit].white-btn {
    color: #0066a1;
    background-color: #fff;
}